body {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color:white;
    background-color: #212121;
    margin:auto;
    text-align: center;
}

.tle {
    color: grey;
}

.wa {
    color: red;
}

.mle {
    color: grey;
}

.ac {
    color: green;
}

.sample-io {
    text-align: left;
}