<style>

  * {
    padding: 0;
    margin: 0;
    
  }
  nav {
    background-color: #212121;
    height: 50px;
    
  }

  nav ul {
    
    height: 50px;
    width: 600px;
    margin: 0 auto;
    
    
  }

  nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    text-align: center;

  }

  li a:hover {
    background-color: yellow;
    color: #212121;

  }

  li a {
    text-decoration: none;
    color: yellow;
    line-height: 50px;
    display: block;
  }



</style>

<nav>
  <ul>
    <li><a href="../about">About</a></li>
    <li><a href="../rules">Rules</a></li>
    <li><a href="../problems">Problems</a></li>
    <li><a href="../problem/1/">Sample Problem</a></li>
  </ul>
</nav>