@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Titillium+Web:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FBFCD4;
    font-family: "Montserrat";
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(30, 30, 30);
    background-image: url('./images/seamless-linen-background.jpg');
    background-attachment: scroll;
    position: relative;
}

/* ------------NAVBAR-------------- */
nav {
    background-color: #2e2e2e;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

nav img {
    height: 2em;
    width: auto;
}

.nav-link:hover, nav .active{
    color: rgb(255, 221, 3) !important;
}

/* ---- INTRO STYLES ----------------- */

header {
    height: 100vh;
    width: 100%;
    max-height: 100vh;
}

header, section {
    padding-top: 5em;
}

header .container {
    width: 100%;
    height: 100%;
}

header .row {
    height: 100%;
    display: flex;
    align-items: center;
}

header .row div:nth-child(2) {
    padding: 2em;
}

h1 {
    font-size: 10em;
    font-family: "Titillium Web";
}

mark, h3 {
    margin-left: 8px;
}

h3 {
    opacity: 0.7;
    line-height: 150%;
}

mark {
    font-size: 2em;
    font-weight: bold;
    display: inline;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: rgb(30, 30, 30);
    background: rgb(255,225,35);
    background: linear-gradient(66deg, rgba(255,225,35,1) 0%, rgba(255,166,0,1) 100%);
}

sup {
    color: inherit
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 992px) {
    header {
        padding-top: 80px;
    }
    header img {
        max-width: 35vh;
        margin-left: 7em;
    }
    header .row div:nth-child(2) {
        display: flex;
        /* justify-content: center; */
        justify-content: flex-end;
    }
    h1 {
        font-size: 8em;
    }
    h3 {
        font-size: 1.3em;
    }
    mark {
        font-size: 1.5em;
    }
    #about img {
        width: 90%;
        margin-top: 2em;
    }
    #about .row div:nth-child(2) {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    header .row div:nth-child(2) {
        display: flex;
        /* justify-content: center; */
    }
    h1 {
        font-size: 6em;
    }
    header img {
        margin: 0
    }
}

@media only screen and (max-width: 481px) {
    header .row div:nth-child(2) {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    h3 {
        padding-right: 2em;
    }
}

/* -------- END OF INTRO STYLES ------------- */

h2 {
    font-family: "Titillium Web";
    font-size: 4em;
    position: relative;
    margin-bottom: 0.8em;

}

h2::before {
    content: "";
    position: absolute;
    top: 110%;
    width: 0%;
    left: 0;
    height: 10px;
    background: rgb(255,225,35);
    background: linear-gradient(66deg, rgba(255,225,35,1) 0%, rgba(255,166,0,1) 100%);
    transition: 1s ease-in-out;
}

h2.scrolled::before {
    width: 100%;
}

p {
    font-size: 18px;
}

#about img {
    border-radius: 10px;
}

a:link {
    color: rgb(255,225,35);
}

a:visited {
    color: rgb(255,166,0);
}

section a:hover {
    opacity: 0.6;
}

h4 {
    font-weight: bold;    
}

h5 {
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: 1.5em;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.8);
}

/* .card:hover {
    background-color: rgba(50, 50, 50, 0.8);
} */

.card * {
    color: white;
}

.card a {
    position: relative;
    min-width: 50%;
    font-weight: bold;
    border: none;
    color: rgb(30, 30, 30);
    background: rgb(255,225,35);
    background: linear-gradient(66deg, rgba(255,225,35,1) 0%, rgba(255,166,0,1) 100%);
    transition: 70ms cubic-bezier(1, 0, 0, 1);
    text-transform: none;
}

.card img {
    height: 7em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card a::before {
    content: "View Contest";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    /* background-color: white; */
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease;
}

.card a:hover {
    opacity: 1;
    color: rgb(30, 30, 30);
}

.card a:active {
    color: rgb(30, 30, 30) !important;
}

.card a:hover::before {
    opacity: 0.2;
}

#faq li {
    list-style: none;
    margin-bottom: 1em;
    border: 2px solid #2e2e2e;
    border-radius: 5px;
    padding: 1em;
    transition: 200ms ease;
}

#faq ul{
    margin-bottom: 0;
}

#faq li button {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-family: "Titillium Web";
    font-size: 1.7em;
}

#faq li:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#faq li p {
    opacity: 0.8;
    margin-bottom: 0;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > div > div {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer i {
    font-size: 2em;
    transition: 200ms ease;
}

footer i:hover {
    color: rgb(255,225,35);
}

footer p {
    margin-top: 2em;
    font-size: 0.8em;
}