{% extends "default.html" %}
{% block title %} About {% endblock %}

{% block content %}
<style>
    a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
</style>


<h1><font color = "#FFE616"><u>About Cheerio</u></font></h1>
<p>Cheerio is a school-wide teams competitive programming contest, run by Richmond Hill Computer Science Club. </p>
<p>The aim of Cheerio is to bring fun into the realm of competitive programming, which may initially appear as challenging.</p>
<p>The contest is divided into two parts, senior and junior. Depending on your skill level, it will be an interesting challenge.</p>
<p></p>

<h1><font color = "#FFE616"><u>Contact information</u></font></h1><br>
<p>Feel free to reach out to us for any questions, comments or concerns!</p>

{% endblock %}
