<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="118957129089-brqq1mo95vr7kj25q45hne16mfgcik5q.apps.googleusercontent.com">

        <title>Cheerio | {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="content">
            <a href="/"><img align="centre" src="/static/images/cheerio_logo.png"></a>
            {% block content %}
            {% endblock %}
        </div>
        {% include 'includes/footer.html' %}
    </body>
</html>