<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>Cheerio | {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'includes/navbar.html' %}
        <div class="content">
            {% block content %}
            <a href=""><img align="centre" src="https://cdn.discordapp.com/attachments/950946294732582913/954113316622594079/cheerio_logo.png"></a>
            {% endblock %}
        </div>
        {% include 'includes/footer.html' %}
    </body>
</html>